.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-toggle {
  background-color: #a12226;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #a12226;
}
.navbar-brand {
  margin-bottom: 20px;
}
.navbar-collapse {
  box-shadow: none;
}
